In [4]:
import pandas as pd
from sqlalchemy import create_engine

In [36]:
df = pd.read_csv("green_tripdata_2019-01.csv")

In [37]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,0.5,0.5,0.00,0.0,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,0.5,0.5,0.00,0.0,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.5,0.5,0.5,0.00,0.0,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.5,0.5,0.5,2.96,0.0,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.0,0.5,0.5,0.00,0.0,NaN,0.3,19.30,2,1,NaN

In [38]:
df.shape

(630918, 20)

In [41]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [48]:
connection = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [49]:
df_iter = pd.read_csv("green_tripdata_2019-01.csv", iterator=True, chunksize=10_000)

In [50]:
df = next(df_iter)

In [51]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [52]:
df.head(0).to_sql(name="green_taxi_data", con=connection, if_exists="replace")

0

In [53]:
df.to_sql(name="green_taxi_data", con=connection, if_exists="append")

1000

In [54]:
while True:
    df = next(df_iter)
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    df.to_sql(name="green_taxi_data", con=connection, if_exists="append")
    print("working on chunk")

working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk
working on chunk

StopIteration: